#assignment-section .translate .translate_text {
    height: 650px;
    width: 60%;
    float: left;
    border: 3px solid rgba(163, 177, 223, 0.938);
    border-radius: 5px;
    margin: 30px;
}

#assignment-section .translate .translate_menu {
    height: 500px;
    width: 20%;
    float: left;
    border: 3px solid rgba(163, 177, 223, 0.938);
    border-radius: 5px;
    margin-top: 80px;
}

#assignment-section .article_search {
    height: 50px;
    width: 90%;
    border: 3px solid rgba(163, 177, 223, 0.938);
    border-radius: 3px;
    margin: 30px auto;

}