@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#main-header {
    text-align: center;
    font-family: 'Arita-dotum-Medium';
}

#main-nav {
    height: 40px;
    width: 905px;
    background-color: rgba(163, 177, 223, 0.938);
    border-radius: 5px;
    margin: 0 auto;
}

#main-nav ul li {
    list-style: none;
    float: left;
    width: 33.333%;
    line-height: 40px;
    vertical-align: middle;
}

#main-nav .menu {
    text-decoration: none;
    display: block;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Arita-dotum-Medium';
    color: white;
    text-align: center;
}

#main-nav .menu:hover {
    color: black;
}